<div class="page-width">
  <div class="benefits-information grid--1-col-tablet-down grid--2-col-desktop grid">

    <div class="benefits-theragel grid__item">
      <div class="image-container">
        {% for block in section.blocks %} 
        <div class="benefitsitem">
        {% if block.settings.benefits-image != blank %}
          <div class="benefits-img">
            <img loading="lazy"
                 srcset="{{ block.settings.benefits-image | img_url: '60x' }}"
                 src="{{ block.settings.benefits-image | img_url: '60x' }}" alt="benefits Image" width="60" height="60">
          </div>
          {% endif %}
        <h4 class="benefits-title">{{ block.settings.benefits-title | escape }}</h4>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="information-container grid__item">
       {% if section.settings.heading != blank %}
        <div class="title-container section-header">
          <h2 class="heading">{{ section.settings.heading }}</h2>
        </div>
       {% endif %}
       {% if section.settings.info != blank %}
        <div class="list-Aboutus-info rte">
          {{ section.settings.info }}
        </div>
       {% endif %}
        {% if section.settings.about_btn %}
        <div class="about-btn">
          <a href="JavaScript:void(0);" class="btn btn-large button getmytheragel">
           {{ section.settings.about_btn }}
          </a>
        </div>
        {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Benefits",
    "tag": "section",
    "class": "benefits-section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "The Benefits Of TheraGel"
      },
      {
        "type": "html",
        "id": "info",
        "label": "Description",
        "default": "<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum.</p>"
      },
      {
        "type": "text",
        "id": "about_btn",
        "label": "Button Label",
        "default": "Get My TheraGel"
      }
	],
    "blocks": [
      { 
        "type": "image",
        "name": "Benefits",
        "settings": [
          {
            "type": "image_picker",
            "id": "benefits-image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "benefits-title",
            "label": "Title",
            "default": "Title"
          }
        ]
      }
    ],
	"presets": [
      {
        "name": "Benefits"
      }
    ]
  }
{% endschema %}
