<div class="ai_ml_section_cnt {{ section.settings.classes }}" style="background-color:{{ section.settings.background-color }}">
	<div class="page-width ai_ml_inner_cnt row">	
		{% for block in section.blocks %}
		  {% if block.type == 'content-with-title' %}      	
					<div class="columns small-12 medium-6 content-with-title float-{{ block.settings.block_alignment }} ">
    					{% if block.settings.pre_title != blank %}
    						<div class="content-pre-title">{{ block.settings.pre_title }}</div>
    					{% endif %}                      
    					{% if block.settings.title != blank %}
    						<h1>{{ block.settings.title }}</h1>
    					{% endif %}	
    					
    					{% if block.settings.sub_title != blank %}
    						<h3>{{ block.settings.sub_title }}</h3>
    					{% endif %}	

            			{% if block.settings.content != blank %}
    						<div>{{ block.settings.content }}</div>
    					{% endif %}	 
    					{% if block.settings.button_text != blank %}
        						<div><a class="ai_ml_wbm_btn" href="{{ block.settings.button_link }}">{{ block.settings.button_text }}</a></div>
        			    {% endif %}	
            			{% if block.settings.small_text != blank %}
    						<div>{{ block.settings.small_text }}</div>
    					{% endif %}	                      
					</div>
		  {% endif %}
		{% endfor %}	

  		{% for block in section.blocks %}
		  {% if block.type == 'content-with-media' %}      	
					<div class="columns small-12 medium-6 content-with-media float-{{ block.settings.block_alignment }} ">
                    
            
    					{% if block.settings.title != blank %}
    						<h1>{{ block.settings.title }}</h1>
    					{% endif %}	
    					
    					{% if block.settings.sub_title != blank %}
    						<h3>{{ block.settings.sub_title }}</h3>
    					{% endif %}	

            			{% if block.settings.image != blank %}
    						<figure><img src="{{ block.settings.image | img_url: 'master' }}" /></figure>
    					{% endif %}	    

             			{% if block.settings.video != blank %}
    						  {% if block.settings.video.media_type == 'video' %}
                                {{ block.settings.video | video_tag: autoplay: true, loop: true, muted: true, controls: true }}
                              {% endif %}
    					{% endif %}	                       
					</div>
		  {% endif %}
		{% endfor %}

  
  <div class="ai_ml_clear"></div>					

    </div>    
			
</div>


{% schema %}
  {
    "name": "Custom Media Text Section",  
    "tag": "section",
    "class": "ai_ml_section",
    "settings": [
      {
        "type": "color",
        "id": "background-color",
        "label": "Background Color"
      },
	  {
        "type": "text",
        "id": "classes",
        "label": "Classes"
      }       
    ],
    "blocks":[
      {
		"type":"content-with-title",
  	 	"name": "Content With Title",
     	 "settings": [
	  {
        "type": "text",
        "id": "pre_title",
        "label": "Pre Title",
        "default": "text"
      },           
	  {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "text"
      },
	  {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Title",
        "default": "text"
      },
	  {
        "type": "richtext",
        "id": "content",
        "label": "Text",
        "default": "<p>text</p>"
      },
	  {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "text"
      }, 
	  {
        "type": "text",
        "id": "button_link",
        "label": "Button Link",
        "default": "text"
      }, 
	  {
        "type": "text",
        "id": "small_text",
        "label": "Small Text",
        "default": "text"
      },            
      {
        "type": "select",
        "id": "block_alignment",
        "label": "Block alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ]
      }	  
      ]
      },
	  {
		"name": "Content With Media",
		 "type": "content-with-media",
		"settings": [
		  {
			"type": "text",
			"id": "title",
			"label": "Title",
			"default": "text"
		  },
		  {
			"type": "text",
			"id": "sub_title",
			"label": "Sub Title",
			"default": "text"
		  },
		  {
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		  },
		  {
			"type": "video",
			"id": "video",
			"label": "Video"
		  },
          {
            "type": "select",
            "id": "block_alignment",
            "label": "Block alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }	          
		]
	  }     
  	],"presets": [
      {
        "name": "Media Text Columns",
        "category": "Common Blocks"
      }
    ]
	}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}