<div class="page-width">
  <div class="aboutus-information image-position-{{ section.settings.image_position }}">
    {% if section.settings.image != blank %}
    <div class="aboutus-banner">
      <div class="image-container">
        <img 
               src="{{ section.settings.image | img_url: 'master' }}"
               alt="Aboutus Image">
      </div>
    </div>
    {% endif %}
    <div class="information-container">
       {% if section.settings.heading != blank %}
        <div class="title-container section-header">
          <h2 class="heading">{{ section.settings.heading }}</h2>
        </div>
       {% endif %}
       {% if section.settings.info != blank %}
        <div class="list-Aboutus-info rte">
          {{ section.settings.info }}
        </div>
       {% endif %}
        {% if section.settings.about_btn != blank %}
        <div class="about-btn">
          <a href="JavaScript:void(0);" class="btn button getmytheragel">
            {{ section.settings.about_btn }}
          </a>
        </div>
        {% endif %}
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Guarantee",
    "tag": "section",
	"class": "aboutus-section guarantee-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
	    {
        "type": "select",
        "id": "image_position",
        "label": "Image Position",
        "default": "left",
        "options": [
          { "value": "left", "label": "Left"},
          { "value": "right", "label": "Right"}
        ]
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "We Have Everything You Need ?"
      },
      {
        "type": "html",
        "id": "info",
        "label": "Description",
        "default": "<p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs. The passage is attributed to an unknown typesetter in the 15th century who is thought to have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.Lorem ipsum.</p>"
      },
      {
        "type": "text",
        "id": "about_btn",
        "label": "Button Label",
        "default": "Contact Us"
      }
	],
	"presets": [
      {
        "name": "guarantee"
      }
    ]
  }
{% endschema %}
