<div class="theragelstep">
  <div class="page-width">
    <div class="main-text">
      {% if section.settings.header %}
        <h3 class="header-of-step">
          {{ section.settings.header }}
        </h3>
      {% endif %}
      {% if section.settings.image_desktop %}
        <img loading="lazy"
            class="desktop" srcset="{{ section.settings.image_desktop | img_url: '1000x' }}"
            src="{{ section.settings.image_desktop | img_url: '1000x' }}" alt="Image" width="600">
      {% endif %}
      {% if section.settings.image_mobile %}
        <img loading="lazy"
            class="mobile" srcset="{{ section.settings.image_mobile | img_url: '600x' }}"
            src="{{ section.settings.image_mobile | img_url: '600x' }}" alt="Image" width="300x">
      {% endif %}
      {% if section.settings.subheader %}
        <p class="sub-header-of-step">
          {{ section.settings.subheader }}
        </p>
      {% endif %}
    </div>
    <div class="step-box">
      {%- for block in section.blocks -%}
        {%- case block.type -%}

          {%- when 'step_with_image' -%}

            <div class="steps first">
                {% if block.settings.image != blank %}
                <div class="step-img-custom">
                  <img loading="lazy"
                      srcset="{{ block.settings.image | img_url: '100x' }}"
                      src="{{ block.settings.image | img_url: '100x' }}" alt="step Image" width="100" height="100">
                </div>
                {% endif %}
                <div class="step-block">
                  <div class="step-title">{{ block.settings.title | escape }}</div>
                  <p class="step-desc">{{ block.settings.sub_title | escape }}</p>
                  <div class="description-custom">
                    {{ block.settings.description }}
                  </div>
                </div>
            </div>

        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

<style>
@media only screen and (max-width: 768px) {
  .images-step-custom-description .step-box .steps.steps {
    align-items: center;
  }

  .images-step-custom-description .step-box .steps.steps .step-block {
    align-items: center;
  }
}

</style>


{% schema %}
  {
    "name": "Images step & description",
    "tag": "section",
    "class": "step-section images-step-custom images-step-custom-description",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Header",
        "default": "Header"
      },
      {
        "type": "text",
        "id": "subheader",
        "label": "Subheader",
        "default": "Subheader"
      },
      {
        "type": "image_picker",
        "id": "image_desktop",
        "label": "Image desktop"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile"
      }
    ],
  "blocks": [
    {
      "name": "step with image",
      "type": "step_with_image",
      "limit": 8,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "text",
          "id": "sub_title",
          "label": "Sub Title",
          "default": "Sub Title"
        },
        {
          "type": "html",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ],
	"presets": [
      {
        "name": "Images step & description"
      }
    ]
  }
{% endschema %}