<div class="theragelstep stepofchew step-custom">
  <div class="page-width">
    {% if section.settings.main_title %}
          <h3 class="main-title" >{{ section.settings.main_title }}</h3>
    {% endif %}
    <div class="step-box">
   
      <div class="steps first">
          {% if section.settings.step1-image != blank %}
            <div class="step-img-custom">
              <img loading="lazy"
                  srcset="{{ section.settings.step1-image | img_url: 'master' }}"
                  src="{{ section.settings.step1-image | img_url: 'master' }}" alt="step Image">
            </div>
          {% endif %}
          <div class="step-block">
            <div class="step-title">{{ section.settings.step1-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step1-desc | escape }}</p>
          </div> 
      </div>
      <div class="steps secound">
          {% if section.settings.step2-image != blank %}
          <div class="step-img-custom">
            <img loading="lazy"
                 srcset="{{ section.settings.step2-image | img_url: 'master' }}"
                 src="{{ section.settings.step2-image | img_url: 'master' }}" alt="step Image">
          </div>
          {% endif %}
          <div class="step-block">
            <div class="step-title">{{ section.settings.step2-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step2-desc | escape }}</p>
          </div> 
      </div>
       <div class="steps third">
          {% if section.settings.step3-image != blank %}
          <div class="step-img-custom">
            <img loading="lazy"
                 srcset="{{ section.settings.step3-image | img_url: 'master' }}"
                 src="{{ section.settings.step3-image | img_url: 'master' }}" alt="step Image">
          </div>
          {% endif %}
          <div class="step-block">
            <div class="step-title">{{ section.settings.step3-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step3-desc | escape }}</p>
          </div> 
      </div>
      
    </div>
  </div>
</div>

<style>
  .step-section-custom .step-title.step-title {
    font-size: 20px;
  }

  .stepofchew.step-custom.theragelstep {
      border-bottom: 1px solid #021c72;
  }

  .stepofchew.stepofchew {
    margin-bottom: 0;
  }

  .step-section-custom .about-btn a {
    border-radius: 60px;
  }

  @media only screen and (max-width: 768px) {
    .theragelstep.stepofchew {
      padding-top: 0;
    }

    .theragelstep.stepofchew .step-box .steps {
      border: none;
      padding: 0;
    }
  }
</style>
 

{% schema %}
  {
    "name": "Steps",
    "tag": "section",
    "class": "step-section step-section-custom",
    "settings": [
      {
        "type": "header",
        "content": "Main title"
      },
      {
        "type": "text",
        "id": "main_title",
        "label": "Main title",
        "default": "Title"
      },
      {
        "type": "header",
        "content": "Step 1"
      },
      {
        "type": "image_picker",
        "id": "step1-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step1-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step1-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      },
	  {
        "type": "header",
        "content": "Step 2"
      },
      {
        "type": "image_picker",
        "id": "step2-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step2-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step2-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      },
      {
        "type": "header",
        "content": "Step 3"
      },
      {
        "type": "image_picker",
        "id": "step3-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step3-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step3-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      }
    ],
	"presets": [
      {
        "name": "Steps"
      }
    ]
  }
{% endschema %}