<div class="theragelstep">
  <div class="page-width">
    
    <div class="step-box">
   
      <div class="steps first">
          <div class="step-text small--hide">STEP-1</div>
          {% if section.settings.step1-image != blank %}
          <div class="step-img">
            <img loading="lazy"
                 srcset="{{ section.settings.step1-image | img_url: '60x' }}"
                 src="{{ section.settings.step1-image | img_url: '60x' }}" alt="step Image" width="60" height="60">
          </div>
          {% endif %}
          <div class="step-block">
            <div class="step-text medium-up--hide">STEP-1 : </div><div class="step-title">{{ section.settings.step1-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step1-desc | escape }}</p>
          </div> 
      </div>
      <div class="steps secound">
          <div class="step-text small--hide">STEP-2</div>
          {% if section.settings.step2-image != blank %}
          <div class="step-img">
            <img loading="lazy"
                 srcset="{{ section.settings.step2-image | img_url: '60x' }}"
                 src="{{ section.settings.step2-image | img_url: '60x' }}" alt="step Image" width="60" height="60">
          </div>
          {% endif %}
          <div class="step-block">
            <div class="step-text medium-up--hide">STEP-2 : </div><div class="step-title">{{ section.settings.step2-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step2-desc | escape }}</p>
          </div> 
      </div>
       <div class="steps third">
          <div class="step-text small--hide">STEP-3</div>
          {% if section.settings.step3-image != blank %}
          <div class="step-img">
            <img loading="lazy"
                 srcset="{{ section.settings.step3-image | img_url: '60x' }}"
                 src="{{ section.settings.step3-image | img_url: '60x' }}" alt="step Image" width="60" height="60">
          </div>
          {% endif %}
          <div class="step-block">
            <div class="step-text medium-up--hide">STEP-3 : </div><div class="step-title">{{ section.settings.step3-title | escape }}</div>
            <p class="step-desc">{{ section.settings.step3-desc | escape }}</p>
          </div> 
      </div>
      
    </div>
  </div>
</div>
 

{% schema %}
  {
    "name": "Step Of CompressMD",
    "tag": "section",
    "class": "step-section",
    "settings": [
      {
        "type": "header",
        "content": "Step 1"
      },
      {
        "type": "image_picker",
        "id": "step1-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step1-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step1-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      },
	  {
        "type": "header",
        "content": "Step 2"
      },
      {
        "type": "image_picker",
        "id": "step2-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step2-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step2-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      },
      {
        "type": "header",
        "content": "Step 3"
      },
      {
        "type": "image_picker",
        "id": "step3-image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "step3-title",
        "label": "Title",
        "default": "Title"
      },
      {
        "type": "text",
        "id": "step3-desc",
        "label": "Sub Title",
        "default": "Sub Title"
      }
    ],
	"presets": [
      {
        "name": "Step Of CompressMD"
      }
    ]
  }
{% endschema %}