<div class="ai_ml_section_cnt faq-block " style="background-color:{{ section.settings.background-color }}">
	<div class="page-width ai_ml_inner_cnt row">
    {% if section.settings.maintitle != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.maintitle | escape }}</h2>
    </div>
    {% endif %}
    <div id="faqblock-{{ section.id }}" class="accordion panel-group">
      {% assign i = 1 %}
      {% if section.blocks.size > 0 %}
        
      <div class="small-12 medium-6 float-left">
              {% for block in section.blocks %}
              {% if block.settings.block_alignment== 'left' %}  
              <div class="panel">
              <div class="ishi-collapse in summary rotate ishi-collapsed" data-href="#faq-container-{{i}}" data-toggle="collapse" aria-expanded="false" data-parent="#faqblock-{{ section.id }}">
                <div class="summary__title">
                  <h2 class="h4 accordion__title faq-title">
                    {% if section.settings.show_counter %}
                    <span class="category-count">{{i}}.</span>
                    {% endif %}
                    {{ block.settings.faq-title }}
                  </h2>
                  {% include 'icon-plus' %}
                   {% include 'icon-minus' %}
                </div>
              </div>
              <div id="faq-container-{{i}}" class="ishi-collapse">
                {% if block.settings.faq-subtitle != blank %}
                <div class="accordion__content rte">
                  {{ block.settings.faq-subtitle }}
                </div>
                {% endif %}
              </div>
              </div>
              {% assign i = i | plus: 1 %}
              {% endif %}   
              {% endfor %}        

         
      </div>

      <div class="small-12 medium-6 float-right">     

            {% for block in section.blocks %}
            {% if block.settings.block_alignment== 'right' %}  
            <div class="panel">
              <div class="ishi-collapse in summary rotate ishi-collapsed" data-href="#faq-container-{{i}}" data-toggle="collapse" aria-expanded="false" data-parent="#faqblock-{{ section.id }}">
              <div class="summary__title">
                <h2 class="h4 accordion__title faq-title">
                  {% if section.settings.show_counter %}
                  <span class="category-count">{{i}}.</span>
                  {% endif %}
                  {{ block.settings.faq-title }}
                </h2>
                {% include 'icon-plus' %}
                 {% include 'icon-minus' %}
              </div>
            </div>
            <div id="faq-container-{{i}}" class="ishi-collapse">
              {% if block.settings.faq-subtitle != blank %}
              <div class="accordion__content rte">
                {{ block.settings.faq-subtitle }}
              </div>
              {% endif %}
            </div>
            </div>
            {% assign i = i | plus: 1 %}
            {% endif %}  
            {% endfor %}        

               
      </div>  

      {% endif %}
    </div>
  </div>
</div>

<script>

$(document).ready(function () {
  $(document).on("click","[data-toggle='collapse']",function() {
    var parent = $(this).data("parent");
    var target = $(this).data("href");
    if($(parent).length && $(parent).hasClass('panel-group')) {
     $(parent+" .panel").each(function() {
       var p = $(this).find("[data-toggle='collapse']");
       var t = p.data("href");
       if(t!= target && p.attr("aria-expanded") == "true") {
        $(t).slideUp().removeClass("in");
        p.addClass("ishi-collapsed").attr("aria-expanded","false");
       } 
     });
    } 
    if($(this).attr("aria-expanded") == "false") {
      $(target).slideDown().addClass("in");
      $(this).removeClass("ishi-collapsed").attr("aria-expanded","true");
    } else {
      $(target).slideUp().removeClass("in");
      $(this).addClass("ishi-collapsed").attr("aria-expanded","false");
    }
  });
  });
</script>

{% schema %}
{
  "name": "FAQs Section",
  "tag": "section",
  "max_blocks": 30,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_counter",
      "label": "Show FAQ Count",
      "default": true
    },
    {
        "type": "text",
        "id": "maintitle",
        "label": "Heading",
        "default": "Section Heading"
      }
  ],
  "blocks": [
      { 
        "type": "faq-block",
        "name": "FAQs Block",
        "settings": [
          {
            "type": "text",
            "id": "faq-title",
            "label": "FAQs Question",
            "default": "faq-title"
          },
          {
            "type": "richtext",
            "id": "faq-subtitle",
            "label": "FAQs Answer",
            "default": "<p>faq-subtitle</p>"
          },
          {
            "type": "select",
            "id": "block_alignment",
            "label": "Block alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ]
          }          
        ]
      }
    ],
    "presets": [
      {
        "name": "FAQs Section",
        "category": "WBM Blocks"
      }
    ]
}
{% endschema %}